---
import User from '../assets/Image.jpeg'

const year = new Date().getFullYear() - 2022

---

<section class="about" id="about">
    <figure class="about-picture">
        <img src={User.src} alt="Ditin Agrawal picture">
    </figure>
    <article class="about-bio">
        <h2 class="heading-2">Hello, I'm Ditin, a passionate web developer with over {year} years of experience in the industry.</h2>
        <p class="text-normal">Throughout my career, I have faced and overcome various challenges that have strengthened my ability to find innovative solutions in the development world.</p>
        <p class="text-normal">I take pride in contributing to the success of numerous projects, from e-commerce platforms to fully functional web apps.</p>
        <p class="text-normal">My focus has always been on transforming ideas into digital realities, using cutting-edge technologies and agile methodologies. This passion for creation and problem-solving has led me to constantly explore new trends and stay updated in a technology landscape that is always evolving</p>
    </article>
</section>