---
import Work1 from '../assets/work-1.png'
import Work2 from '../assets/work-2.png'
import Work3 from '../assets/work-3.png'
import Work4 from '../assets/work-4.png'
---

<section id="projects">
    <h2 class="heading-1">Take a look at these digital gems and <span class="green">discover</span> how I turn <span class="pink">ideas</span> into <span class="violet">realities.</span></h2>
    <ul class="projects">
        <li class="card">
            <figure class="card-picture">
                <img src={Work1.src} alt="Anything project">
            </figure>
            <h3 class="heading-3"><a href="#">ShipKwiq Boilerplate</a></h3>
            <ul class="card-skills">
                <li class="card-tag">React</li>
                <li class="card-tag">Next.js</li>
                <li class="card-tag">PostgreSQL</li>
                <li class="card-tag">RazorPay</li>
                <li class="card-tag">AI</li>
            </ul>
        </li>
        <li class="card">
            <figure class="card-picture">
                <img src={Work2.src} alt="Anything project">
            </figure>
            <h3 class="heading-3"><a href="#">X Bio Generator</a></h3>
            <ul class="card-skills">
                <li class="card-tag">React</li>
                <li class="card-tag">Next.js</li>
                <li class="card-tag">AI</li>
            </ul>
        </li>
        <li class="card">
            <figure class="card-picture">
                <img src={Work3.src} alt="Anything project">
            </figure>
            <h3 class="heading-3"><a href="#">Password Manager</a></h3>
            <ul class="card-skills">
                <li class="card-tag">React</li>
                <li class="card-tag">Next.js</li>
                <li class="card-tag">Clerk</li>
                <li class="card-tag">MongoDB</li>
            </ul>
        </li>
        <li class="card">
            <figure class="card-picture">
                <img src={Work4.src} alt="Anything project">
            </figure>
            <h3 class="heading-3"><a href="#">JSON Sharing App</a></h3>
            <ul class="card-skills">
                <li class="card-tag">React</li>
                <li class="card-tag">Next.js</li>
                <li class="card-tag">Clerk</li>
                <li class="card-tag">PostgreSQL</li>
            </ul>
        </li>
    </ul>
</section>